

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #e1ecf2;
}
.wrapper{
  margin: 10px;
}
.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 99;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger_1{
  width: 70px;
  height: 100%;
  background: white;
  padding: 15px 17px;
  border-top-left-radius: 20px;
 
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin-right: 20px;

  
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /*border: 1px solid #2e4ead;*/
  border-radius: 50%;
  color: #2e4ead;
}

.table-striped{

  margin-left: -90px;

}

.wrapper .top_navbar .top_menu i{
  /*margin-top: 7px;*/
}

/*.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}*/

/*.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}*/

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container2{
  width: (100% - 200px);
  margin-top: 70px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container2 .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper .main_container .item h3{
  color: #4360b5;
}


.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}

.py-4{
  margin-top: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  
  z-index: 1;
}


.table-striped {
  color: #4360b5;
}

.mapdiv p
{
  color: #4360b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.offset-lg-3{

  color: #4360b5;
}

.filter{
  display: flex;
}

/*.app2{
  background-image: url(../img/loginbg.gif);
  background-size: cover;
}*/

#login1, #reg1, #loggedin{
  position: absolute;
  top: 25%;
}


/*iphone 6/7/8*/
@media (max-width:375px) {

  .py-4{
    margin-top: 0px;
  }

}

/*smaller computer screen*/
@media (max-width:1366px) {

  .py-4{
    margin-top: 100px;
  }

}


#promo{
  text-align:center;
  padding:200px;
  background:url(../img/background.jpg);
  background-size:cover;
  
  
}

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(225,225,225,0.75);
  max-width:800px;
  margin:auto;
}
/*iphone 6/7/8*/
@media (max-width:375px) {

  #promo{
  text-align:center;
  padding:55px;
  background:url(../../assets/img/background.jpg);
  background-size:cover;
  
  
  }

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(225,225,225,0.75);
  max-width:800px;
  margin:auto ;
}


}

